<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">System Public</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <!--

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="counter">
                    <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="weather">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
                </NavLink>
            </div>

        -->

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ciudadano">
                <span style="font-size: 20px;" aria-hidden="true"><i class="bi bi-people-fill"></i></span> Ciudadano
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="denuncia">
                <span style="font-size: 20px;" aria-hidden="true"><i class="bi bi-clipboard-check-fill"></i></span> Denuncia
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="antecedenteciudadano">
                <span style="font-size: 20px;" aria-hidden="true"><i class="bi bi-journal-plus"></i></span> Antecedente C
            </NavLink>
        </div> 
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="documentociudadano">
                <span style="font-size: 20px;" aria-hidden="true"><i class="bi bi-file-earmark-text-fill"></i></span> Documentos
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="infraccionesciudadano">
                <span style="font-size: 20px;" aria-hidden="true"><i class="bi bi-sign-stop-fill"></i></span> Infracciones C
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="delitos">
                <span style="font-size: 20px;" aria-hidden="true"><i class="bi bi-file-earmark-person-fill"></i></span> Delitos
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="tiposdelitos">
                <span style="font-size: 20px;" aria-hidden="true"><i class="bi bi-file-earmark-ruled-fill"></i></span> Tipos Delitos
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Infracciones">
                <span style="font-size: 20px;" aria-hidden="true"><i class="bi bi-sign-stop-fill"></i></span> Infracciones
            </NavLink>
        </div>
      
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="arrestopolicial">
                <span style="font-size: 20px;" aria-hidden="true"><i class="bi bi-lock-fill"></i></span> Arresto policial
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="victima">
                <span style="font-size: 20px;" aria-hidden="true"><i class="bi bi-person-arms-up"></i></span> Victima
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="bienes">
                <span style="font-size: 20px;" aria-hidden="true"><i class="bi bi-house-fill"></i></span> Bienes
            </NavLink>
        </div>
         <div class="nav-item px-3">
            <NavLink class="nav-link" href="penaimpuesta">
                <span style="font-size: 20px;" aria-hidden="true"><i class="bi bi-bookshelf"></i></span> Pena impuesta
            </NavLink>
        </div>
    
      
      
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
